* {
	border: 4px dashed white;
}
#container {
	max-width: 60em;
	margin: auto;
	background-color: black;
}

#header {
	max-width: 60em;
	margin: auto;
	height: 5em;
	background-color: black;
}

#sidebar {
	max-width: 12em;
	max-height: 48em;
	float: left;
	position: fixed;
}

#content {
	max-width: 48em;
	float: right;
}