
body {
	padding: 0;
	margin: 0;
	background-color: #E0FFFF;
	max-width: 70em;
}
#container {
	width: 55em;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	font-family: sans-serif;
	border: .5em solid black;
}

#header {
	margin: auto;
	max-height: 6em;
	background-color: black;
	padding: 1em;
}

#headerbutton {
	text-decoration: none;
	max-width: 6em;
	padding: 1em;
	font-size: 1.5em;
	display: inline;
}

#headerbutton a:link {
	text-decoration: none;
	color: #00BFFF;
}

#headerbutton a:visited {
	text-decoration: none;
	color: #00BFFF;
	font-family: sans-serif;
}

#headerbutton a:hover {
	color: #ffffff;
	max-height: 100%;
}

#myheadline {
	color: #00BFFF;
	background-color: black;
	border: 1em solid black;
	border-radius: 10pt;
}

#titlebar {
	max-width: 55em;
	padding: 1em;
}

#myimage {
	border: 1em solid black;
	border-radius: 10pt;
}

#mylink {
	max-height: 3em;
	max-width: 12em;
	padding-top: 1em;
	padding-left: .5em;
	padding-right: .5em;
	padding-bottom: 2em;
	background-color: black;
	border-radius: 10pt;
}

#mylink a:link {
	text-decoration: none;
	color: #00BFFF;
}

#mylink a:visited {
	text-decoration: none;
	color: #00BFFF;
	font-family: sans-serif
}

#mylink a:hover {
	color: #ffffff;
	max-height: 100%;
}

#content {
	max-width: 55em;
	padding: 1em;
	background-color: #ffffff;
}