
body {
	margin: 0em;
	padding: 0em;
}
#container {
	max-width: 100%;
	margin: 0;
	background-color: black;
	font-family: sans-serif;
}

#header {
	margin: auto;
	max-height: 6em;
	background-color: black;
	padding: 0em;
}

#homebutton {
	text-decoration: none;
	max-width: 6em;
	padding: 1em;
	font-size: 1.5em;
}

#homebutton a:link {
	text-decoration: none;
	color: #00BFFF;
}

#homebutton a:visited {
	text-decoration: none;
	color: #00BFFF;
	font-family: sans-serif;
}

#headerbutton a:hover {
	color: #ffffff;
	max-height: 100%;
}

#myheadline {
	color: #00BFFF;
	background-color: black;
	border: 1em solid black;
	border-radius: 10pt;
}

#sidebar {
	max-width: 13em;
	float: left;
	padding: 1em;
}

#myimage {
	border: 1em solid black;
	border-radius: 10pt;
}

#mylink {
	max-height: 3em;
	max-width: 12em;
	padding-top: 1em;
	padding-left: .5em;
	padding-right: .5em;
	padding-bottom: 2em;
	background-color: black;
	border-radius: 10pt;
}

#mylink a:link {
	text-decoration: none;
	color: #00BFFF;
}

#mylink a:visited {
	text-decoration: none;
	color: #00BFFF;
	font-family: sans-serif
}

#mylink a:hover {
	color: #ffffff;
	max-height: 100%;
}

#content {
	max-width: 44em;
	float: left;
	padding: 1em;
}