{% extends 'base.html' %}

{% block head_title %}www.NickStefan.net{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    <!-- List of uploaded documents -->
    {% if documents %}
        <ul>
        {% for document in documents %}
            <li><a href="{{ document.imgfile.url }}">{{ document.imgfile.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="/upload/img" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.imgfile.label_tag }} {{ form.imgfile.help_text }}</p>
            <p>
                {{ form.imgfile.errors }}
                {{ form.imgfile }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>

{% endblock %}