{% extends 'base.html' %}

{% block head_title %}{{ category.title }} Posts{% endblock %}

{% block title %}
<h3>{{ category.title }} Posts</h3>
{% endblock %}

{% block content %}
<div class="col-md-7 col-sm-12 col-md-offset-5 main-content">

    {% if posts %}
        {% for post in posts %}
            <div class="post">
                <section>
                    <div class="post-preview col-xs-10  no-gutter">

                    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    <div class="postbody">{{ post.body|safe|truncatewords:"60"}}</div>

                    <p class="meta">
                        {% for category in post.category.all %}<a class="" href="{{ category.get_absolute_url }}">{{ category }}</a> {% endfor %} <i class="link-spacer"></i> <i class="entypo-bookmark"></i> {{ post.posted|date }}
                    </p>
                    </div>

                    <!-- <div class=" col-xs-2  no-gutter">
                        <img src="img/profile-1.jpg" class="user-icon user-1" alt="user-image">
                    </div> -->

                </section>
            </div>
        {% endfor %}
    {% else %}
    {% endif %}
        

{% endblock %}