{% extends 'base.html' %}
{% block head_title %}{{ category.title }} Posts{% endblock %}
{% block title %}<div id="myheadline"><h1>{{ category.title }} Posts</h1></div>{% endblock %}

{% block content %}
	{%  if posts %}
		<ul>
		{% for post in posts %}
			<div class='postlists'><li><p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a><br>{{ post.posted|date }}</p>
				<p>{{ post.body|safe|truncatewords:"60" }}
			</li></div>
		{% endfor %}
		</ul>
		{% else %}
			<p>There are no posts.</p>
		{% endif %}
{% endblock %}