@import url(http://fonts.googleapis.com/css?family=Audiowide);

.main-container {
  margin-top: 50px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.blog-search {
  margin-top: 10px;
}

.title-bar {
  background-color: #00BFFF;
  display: inline-block;
  border-radius: 10px;
  margin-top: 10px;
}

.title-bar h3, .title-bar h4 {
  margin: 10px;
}

.content {
	max-width: 40em;
  font-size: 18px;
  line-height: 1.5;
}

p {
  margin: 24px 0 24px 0;
}

.navbar-brand, .navbar-default, .navbar-right > li > a {
  font-family: Audiowide;
  color: #00BFFF !important;
  background-color: black;
}

.search-btn {
  background-color: #00BFFF;
  font-weight: bold;
  overflow: hidden;
}

input {
	font-family: sans-serif; 
	font-size: 18px;
}

.postlists {
  list-style-type: none;
	border-bottom: 1px solid #999;
  margin-bottom: 30px;
}

.code {
	background-color: #D8D8D8;
	font-family: courier;
}