{% extends 'base.html' %}
{% block head_title %}About NickStefan.net{% endblock %}

{% block title %}
<!-- photo of me -->
<div id="myimage"><img src="http://us.123rf.com/400wm/400/400/flippo/flippo0708/flippo070800207/1544356-smiley-gezicht-man-drinken-van-een-kopje-koffie.jpg" width="100%"/>
</div>
<div id="mylink">
<p style="font-size: .80em">
	<a href="mailto:NickStefan12@gmail.com">NickStefan12@gmail.com</a>
	<a href="http://GitHub.com/NickStefan/">GitHub.com/NickStefan</a></p>
	<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
	<script type="IN/MemberProfile" data-id="linkedin.com/in/nickstefan" data-format="click" data-related="false"></script>
</div>

{% endblock %}

{% block content %}
<p>This is the about page.</p>
<p>It's all about me.</p>
{% endblock %}

