<html>
<head>
	<title>{% block head_title %}www.NickStefan.net{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/originaltheme.css"> 
</head>
<body>
<div id="container">
	<div id="header">
		<div id="homebutton"><a href="/">Nick Stefan: the blog</a></div>
	</div>
	
	<div id="sidebar">
		{% block title %}<h1>&nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</h1>{% endblock %}
	</div>
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
</div>
</body>
</html>