{% extends 'base.html' %}

{% block head_title %}www.NickStefan.net{% endblock %}

{% block title %}
<div id="myheadline">
	<h1>Nick Stefan's Random Stories</h1>
</div>
{% endblock %}

{% block content %}
<p><form action="blog/search/" method="get">
        <input type="submit" value="Search Random Stories">
		<input type="text" name="q">
</form><p>
	<h2>Categories</h2>
	{% if categories %}
			<p>{% for category in categories %}
				<a href="{{ category.get_absolute_url }}"> {{ category.title }}</a> &nbsp
			{% endfor %}
			</p>

		</ul>
	{% else %}
		<p>There are no posts.</p>
	{% endif %}

	<h2>Posts</h2>
	{% if posts %}
		<ul>
		{% for post in posts %}
			<div class='postlists'><li>
				<p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a><br>{{ post.posted|date }}</p>
				<p>{{ post.body|safe|truncatewords:"60"}}</p>
				<p>Categories: &nbsp {% for category in post.category.all %}{{ category }} &nbsp {% endfor %}</p>
			</li></div>
		{% endfor %}
		</ul>
	{% else %}
		<p>There are no posts.</p>
	{% endif %}

{% endblock %}
