{% extends 'base.html' %}

{% block head_title %}NickStefan.net{% endblock %}

{% block title %}

<div id="myimage">
	<img src="http://us.123rf.com/400wm/400/400/flippo/flippo0708/flippo070800207/1544356-smiley-gezicht-man-drinken-van-een-kopje-koffie.jpg" width="100%"/>
</div>
<div id ="mylink">
	<p><a href="about" style="font-size: 1em">About me / Contact info</a></p>
</div>
{% endblock %}

{% block content %}
	<h2>Categories</h2>
	{% if categories %}
		<ul>
			{% for category in categories %}
				<li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>There are no posts.</p>
	{% endif %}
	
	<h2>Posts</h2>
	{% if posts %}
		<ul>
		{% for post in posts %}
			<li>
				<p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a>&nbsp {{ post.posted }}</p>
				<p>{{ post.body|safe|truncatewords:"60"}}</p>
			</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>There are no posts.</p>
	{% endif %}
	
{% endblock %}
