{% extends 'base.html' %}

{% block head_title %}NickStefan{% endblock %}
           
{% block content %}
<div class="col-md-7 col-sm-12 col-md-offset-5 main-content">

        <div class="nav">
            <a href="#" class="select-posts active">Posts</a>
            <a href="#" class="select-categories">Categories</a>
        </div>

        <div class="home-page-posts animated fadeIn ">

    {% if posts %}
        {% for post in posts %}
            <div class="post">
                <section>
                    <div class="post-preview col-xs-10  no-gutter">

                    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    <p>{{ post.body|safe|truncatewords:"60"}}</p>

                    <p class="meta">
                        {% for category in post.category.all %}
                            <a class="" href="{{ category.get_absolute_url }}">{{ category }}</a>
                            <i class="link-spacer"></i>
                        {% endfor %} <i class="entypo-bookmark"></i> {{ post.posted|date }}
                    </p>
                    </div>

                    <!-- <div class=" col-xs-2  no-gutter">
                        <img src="img/profile-1.jpg" class="user-icon user-1" alt="user-image">
                    </div> -->

                </section>
            </div>
        {% endfor %}
    {% else %}
    {% endif %}
        
    </div><!-- Home page posts -->

    <div class="home-page-categories hide animated fadeIn ">
        <div class="category row">
            <section>

            {% if categories %}
                {% for category in categories %}
                    <div class="category-preview col-xs-6 col-sm-4 ">
                        <!-- <h2>{{ category.title }}</h2> -->
                        <!-- <img src="img/cover-2.jpg" alt="category-image"> -->
                        <a href="{{ category.get_absolute_url }}" class="btn btn-block" style="background-color:black; min-height:40px"><h4>{{ category.title }}</h4></a>
                    </div>
                {% endfor %}
            {% else %}
            {% endif %}

            </section>
        </div>
    </div>
{% endblock %}